<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.flink.mapper.OrderDetailMapper">
    <!--查询关键字匹配 -->
    <insert id="saveList" parameterType="java.util.List">
        insert into eop_online_ddmx(
        rqsj, mkt, billno, djlb, hjzje, hjzke, shgwkh
        )VALUES
        <foreach collection ="list" item="orderDetail" index= "index" separator =",">
            (
            #{orderDetail.rqsj}, #{orderDetail.mkt}, #{orderDetail.billno},
            #{orderDetail.djlb}, #{orderDetail.hjzje}, #{orderDetail.hjzke}, #{orderDetail.shgwkh}
            )
        </foreach>
    </insert>
</mapper>